.blocks {
    display: block;
    padding: 20px 0;

    @media (--tablet) {
        display: none;
    }
}

.categories {
    display: flex;
    flex-direction: row;
    font-size: 9px;
    justify-content: space-around;
    margin-bottom: 30px;
    padding-left: 0;
    text-align: center;

    li {
        a {
            text-decoration: none;
        }
    }
}

.image {
    display: block;
    height: 50px;
    margin-bottom: 6px;
    width: auto;
}
