.archive-category {

    .header {
        margin-bottom: 0;
    }

    .aside {
        padding: 25px;
    }

    .main {
        padding: 25px 45px;
    }

    .grid {
        @supports (display: grid) {
            grid-column-gap: 10px;
            grid-row-gap: 15px;
            grid-template-areas:
                    "header"
                    "main"
                    "footer";
            grid-template-columns: 100%;

            @media (--tablet) {
                grid-template-areas:
                        "header header"
                        "aside main"
                        "footer footer";
                grid-template-columns: auto;
            }
        }
    }
}
