@import 'style.css';

.show-for-mobile {
    display: block;

    @media(--tablet) {
        display: none !important;
    }
}

.hide-for-mobile {
    display: none;

    @media(--tablet) {
        display: block !important;
    }
}

.list-unstyled {
    list-style-type: none;
    margin-left: 0;
}

.list-inline {
    display: inline-block;
    padding: 0;

    li {
        display: inline;
    }
}

.list-mobile-inline li {
    display: inline;

    & + li {
        margin-left: 8px;
    }

    @media (--tablet) {
        display: block;

        & + li {
            margin-left: 0;
            margin-top: 8px;
        }
    }
}

