:root {
    --heading-h1-size: 3em;
    --heading-h2-size: 2.25em;
    --heading-h3-size: 1.75em;
    --heading-h4-size: 1.125em;
    --base-font-family: system-ui, sans-serif;
    --base-font-size: 14px;
    --base-font-line-height: 1.8;

    --black: #000;
    --white: #FFFDFD;
    --primary: #6CC9D2;
    --secondary: #D95A44;
    --gray-eee: #eee;
    --gray-light: #DEE0DF;
    --gray-medium: #AEAEAE;
    --gray-dark: #4A4A4A;
    --yellow: #FCF87A;
    --purple: #BF98C6;
    --red: #D95A44;
    --blue: #355fd8;
    --link-color: #d34521;

    --primary-gradient: radial-gradient(circle farthest-corner at 10% 20%, rgb(147, 207, 216) 0%, var(--primary) 90.1%);
    --secondary-gradient: radial-gradient(circle farthest-corner at 10% 20%, rgb(246, 134, 132) 0%, var(--secondary) 90.1%);
    --yellow-gradient: radial-gradient(circle farthest-corner at 10% 20%, rgb(246, 232, 98) 0%, var(--yellow) 90.1%);
    --purple-gradient: radial-gradient(circle farthest-corner at 10% 20%, rgb(167, 108, 246) 0%, var(--purple) 90.1%);
    --blue-gradient: radial-gradient(circle farthest-corner at 10% 20%, rgb(88, 135, 219) 0%, var(--blue) 90.1%);

    --max-width: 1025px;
    --max-content-width: 666px;

    --section-padding: 0 1rem;

    --z-top: 3;
    --z-mid: 2;
    --z-bottom: 1;

    --callout-background: #db00a7;

    --tag-background: #D8EBED;
    --tag-box-shadow: 3px 3px 0 #D2D2D2;

    --animation-duration: .15s;

}

* {
    box-sizing: border-box;
}

@custom-selector :--heading h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4;
@custom-selector :--hover :hover,
:active,
:focus;

@custom-media --phone (min-width: 480px);
@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1024px);
@custom-media --large-desktop (min-width: 1200px);

html {
    font-size: var(--base-font-size);
}

body {
    font-size: 100%;
    font-family: var(--base-font-family);
    line-height: var(--base-font-line-height);
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
}

.link {
    border-bottom: 4px solid var(--primary);
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: var(--primary);
    }
}

.align-right {
    align-items: flex-end;
}

.flex {
    display: flex;
}

.flex-columns {
    flex-direction: column;
}

.grid {
    width: 100vw;

    @supports (display: grid) {
        display: grid;
        grid-template-areas: "header""main""footer";
    }

    @supports not (display: grid) {
        display: flex;
        flex-flow: row wrap;
    }
}

[data-grid-area="header"] {
    @supports (display: grid) {
        grid-area: header;
    }
}

[data-grid-area="aside"] {
    @supports not (display: grid) {}

    @supports (display: grid) {
        grid-area: aside;
    }
}

[data-grid-area="main"] {
    @supports not (display: grid) {}

    @supports (display: grid) {
        grid-area: main;
    }
}

[data-grid-area="footer"] {
    @supports not (display: grid) {
        grid-area: footer;
    }
}

[data-grid-area="page-footer"] {
    @supports not (display: grid) {
        grid-area: page-footer;
    }
}

.post-navigation {
    display: flex;

    @supports not (display: grid) {}

    @supports (display: grid) {
        grid-area: post-navigation;
    }
}

.page-post {

    .grid {
        @supports not (display: grid) {
            .main {
                flex: initial;
            }
        }

        @supports (display: grid) {
            grid-template-areas:
                "header"
                "main"
                "post-navigation"
                "footer";
        }
    }
}

.archive-category {

    [data-grid-area="header"] {
        margin-bottom: 0;
    }

    [data-grid-area="aside"] {
        padding: 25px;
    }

    [data-grid-area="main"] {
        padding: 25px 45px;
    }

    .grid {
        @supports (display: grid) {
            grid-column-gap: 10px;
            grid-row-gap: 15px;
            grid-template-areas:
                "header"
                "main"
                "footer"
                "page-footer";
            grid-template-columns: 100%;

            @media (--tablet) {
                grid-template-areas:
                    "header header"
                    "aside main"
                    "footer footer"
                    "page-footer page-footer";
                grid-template-columns: 1fr 2fr;
            }
        }
    }
}

.archive .grid {
    @supports (display: grid) {
        grid-template-areas: 
            "header"
            "main"
            "footer"
            "page-footer";
    }
}

:--heading,
p,
pre,
blockquote,
ul,
li,
ol {
    color: var(--gray-dark);
}

:--heading {
    font-family: system-ui, sans-serif;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.05em;

    @media (--tablet) {
        font-size: var(--heading-h1-size);
        line-height: 1.125em;
    }
}

.h2 {
    font-size: var(--heading-h2-size);
    line-height: 1.25;
}

.h3 {
    font-size: var(--heading-h3-size);
    line-height: 1.25;
}

.h4 {
    font-size: var(--heading-h4-size);
    line-height: 1.222em;
}

.blockquote {
    background: var(--gray-eee);
    font-size: 1.5em;
    line-height: 1.458333em;
    margin: 0;
    padding: .5em 1em;

    p {
        color: var(--black);
    }
}

.main-title {
    color: var(--secondary);
    font-size: 3em;
    margin-bottom: 45px;
    text-shadow: 5px 6px 0 var(--primary);
}

.gatsby-resp-image-link {
    border: 2px solid var(--secondary);
    margin: 60px 0;
    text-decoration: none;
}

