.grid {
    min-height: 100vh;
    width: 100vw;

    @supports (display: grid) {
        display: grid;
        grid-template-areas: "header" "main" "footer";
        grid-template-rows: auto 1fr auto;
    }

    @supports not (display: grid) {
        display: flex;
        flex-flow: row wrap;
    }
}

[data-grid-area="header"] {
    @supports (display: grid) {
        grid-area: header;
    }
}

[data-grid-area="aside"] {
    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: aside;
    }
}

[data-grid-area="main"] {
    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: main;
    }
}

[data-grid-area="footer"] {
    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: footer;
    }
}

[data-grid-area="page-footer"] {
    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: page-footer;
    }
}

.post-navigation {
    display: flex;

    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: post-navigation;
    }
}

.page-post {
    .grid {
        @supports not (display: grid) {
            .main {
                flex: initial;
            }
        }

        @supports (display: grid) {
            grid-template-areas:
                    "header"
                    "main"
                    "post-navigation"
                    "page-footer";
            grid-template-rows: auto 1fr auto auto;
        }
    }
}

.archive-category {
    [data-grid-area="header"] {
        margin-bottom: 0;
    }

    [data-grid-area="aside"] {
        padding: 25px;
    }

    [data-grid-area="main"] {
        padding: 25px 45px;
    }

    .grid {
        @supports (display: grid) {
            grid-column-gap: 10px;
            grid-row-gap: 15px;
            grid-template-areas:
                    "header"
                    "main"
                    "footer"
                    "page-footer";
            grid-template-columns: 100%;

            @media (--tablet) {
                grid-template-areas:
                        "header header"
                        "aside main"
                        "footer footer"
                        "page-footer page-footer";
                grid-template-columns: 1fr 2fr;
            }
        }
    }
}

.archive .grid {
    @supports (display: grid) {
        grid-template-areas:
                "header"
                "main"
                "footer"
                "page-footer";
    }
}
