.header {
    background: url("../images/Sun-Tornado.svg") no-repeat center center/cover;
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);

    @media (--tablet) {
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    }
}

.header-image {
    height: 150px;
    margin: 0 auto;
    width: 150px;

    @media (--tablet) {
        height: 300px;
        width: 300px;
    }
}
