.post-copy a,
.link {
    border-bottom: 4px solid var(--primary);
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: var(--primary);
    }
}

pre {
    tab-size: 4;
}

:not(pre) code[class="language-text"] {
    background: #eee !important;
    box-shadow: none;
    color: black;
    text-shadow: none;
    border-radius: 0 !important;
    display: inline-block;
    font-size: 85%;
    padding: 0 .4em !important;
    white-space: normal;
}

.copyButton {
    background: var(--primary);
    border: none;
    color: var(--white);
    font-weight: 700;
    height: 34px;
    position: absolute;
    right: 15px;
    top: 0;
    width: 110px;

    &:hover {
        background: #4b8d96;
        cursor: pointer;
    }
}

.social-icon {
    transform: translateY(5px);
}

.post-nav {
    @media (--tablet) {
        @supports (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
            clip-path: polygon(0 0, 50% 29%, 100% 0, 100% 100%, 0 100%);
        }
    }
}
