.vr {
    background: var(--secondary-gradient);
}

.general {
    background: var(--purple-gradient);
}

.web,
.website {
    background: var(--primary-gradient);
}

.software {
    background: var(--yellow-gradient);
}

.tag-cat {
    left: -15px;
    margin: 0;
    padding: 5px 13px 18px 16px;
}
