:root {
  --heading-h1-size: 84px;
  --heading-h2-size: 48px;
  --heading-h3-size: 36px;
  --heading-h4-size: 28px;
  --base-font-family: system-ui, sans-serif;
  --base-font-size: 14px;
  --base-font-line-height: 1.8;

  --black: #000;
  --white: #fffdfd;
  --dark-blue: #222831;
  --primary: #6cc9d2;
  --secondary: #d95a44;
  --gray-eee: #eee;
  --gray-light: #dee0df;
  --gray-medium: #aeaeae;
  --gray-dark: #4a4a4a;
  --yellow: #fcf87a;
  --purple: #bf98c6;
  --red: #d95a44;
  --blue: #355fd8;
  --link-color: #d34521;

  --primary-gradient: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(147, 207, 216) 0%,
    var(--primary) 90.1%
  );
  --secondary-gradient: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(246, 134, 132) 0%,
    var(--secondary) 90.1%
  );
  --yellow-gradient: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(246, 232, 98) 0%,
    var(--yellow) 90.1%
  );
  --purple-gradient: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(167, 108, 246) 0%,
    var(--purple) 90.1%
  );
  --blue-gradient: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgb(88, 135, 219) 0%,
    var(--blue) 90.1%
  );

  --max-width: 1025px;
  --max-content-width: 666px;

  --section-padding: 0 1rem;

  --z-top: 3;
  --z-mid: 2;
  --z-bottom: 1;

  --callout-background: #db00a7;

  --tag-background: #d8ebed;
  --tag-box-shadow: 3px 3px 0 #d2d2d2;

  --animation-duration: 0.15s;
}
