
.header {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSIjZWVlIj48L3JlY3Q+CjxwYXRoIGQ9Ik0yOCA2NkwwIDUwTDAgMTZMMjggMEw1NiAxNkw1NiA1MEwyOCA2NkwyOCAxMDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2U4ZThlOCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+CjxwYXRoIGQ9Ik0yOCAwTDI4IDM0TDAgNTBMMCA4NEwyOCAxMDBMNTYgODRMNTYgNTBMMjggMzQiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2U5ZTllOSIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
    clip-path: polygon(0 0, 100% 0%, 100% 94%, 0% 100%);
    display: flex;
    flex-direction: column;
    min-height: 350px;
    margin: -50px auto 45px auto;
    padding: 25px 15px 45px 15px;

    @media (--tablet) {
        clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
        flex-direction: row;
        padding: 0;
    }

}

.left,
.right {
    width: 100%;

    @media (--tablet) {
        width: 50%;
    }
}

.left {
    align-self: end;
    margin-bottom: 15px;
    text-align: center;

    @media (--tablet) {
        margin-bottom: 0;
    }
}

.right {
    align-self: center;
}

.image {
    height: 150px;
    width: 150px;

    @media (--tablet) {
        height: 300px;
        width: 300px;
    }
}
