
.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--max-width);
    padding: 0 20px;

    @media (--tablet) {
        align-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto;
    }
}
