.callout {
    --pink: #ff7d97;
    --white: #f2feff;
    --width: 5px;

    animation: siren 1.5s infinite;
    background: #6bcad3;
    border-radius: 50%;
    display: inline-block;
    height: 55px;
    margin: 0 !important;
    padding: 5px;
    transform: translateX(-43px);
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    width: 55px !important;
}

@keyframes siren {
    0% {
        border-left: var(--width) solid var(--pink);
        border-bottom: var(--width) solid var(--white);
        border-right: var(--width) solid var(--pink);
        border-top: var(--width) solid var(--white);
    }

    50% {
        border-left: var(--width) solid var(--white);
        border-bottom: var(--width) solid var(--pink);
        border-right: var(--width) solid var(--white);
        border-top: var(--width) solid var(--pink);
    }

    100% {
        border-left: var(--width) solid var(--pink);
        border-bottom: var(--width) solid var(--white);
        border-right: var(--width) solid var(--pink);
        border-top: var(--width) solid var(--white);
    }
}
