.grid {
    width: 100vw;

    @supports (display: grid) {
        display: grid;
        grid-template-areas: "header" "main" "footer";
    }

    @supports not (display: grid) {
        display: flex;
        flex-flow: row wrap;
    }
}

.header {
    @supports (display: grid) {
        grid-area: header;
    }
}

.aside {
    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: aside;
    }
}

.main {
    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: main;
    }
}

.post-navigation {
    display: flex;

    @supports not (display: grid) {
    }

    @supports (display: grid) {
        grid-area: post-navigation;
    }
}

.footer {
    @supports not (display: grid) {
        grid-area: footer;
    }
}
